const template = {
  base0 : '#{{base00-hex}}',
  base1 : '#{{base01-hex}}',
  base2 : '#{{base02-hex}}',
  base3 : '#{{base03-hex}}',
  base4 : '#{{base04-hex}}',
  base5 : '#{{base05-hex}}',
  base6 : '#{{base06-hex}}',
  base7 : '#{{base07-hex}}',
  base8 : '#{{base08-hex}}',
  base9 : '#{{base09-hex}}',
  base10 : '#{{base0A-hex}}',
  base11 : '#{{base0B-hex}}',
  base12 : '#{{base0C-hex}}',
  base13 : '#{{base0D-hex}}',
  base14 : '#{{base0E-hex}}',
  base15 : '#{{base0F-hex}}',
}
