[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/jc-doyle/nvim.git
[submodule "config/dwm"]
	path = config/dwm
	url = https://github.com/jc-doyle/dwm.git
[submodule "colors"]
	path = colors
	url = https://github.com/jc-doyle/colors.git
	branch = master
