[colors]

background-dark = #{{base00-hex}}
background-light = #{{base01-hex}}
foreground-dark = #{{base04-hex}}
foreground-light = #{{base03-hex}}
border = #{{base03-hex}}
highlight = #{{base06-hex}}
