[colors]

background-dark = #{{base03-hex}}
background-light = #{{base02-hex}}
foreground-dark = #{{base06-hex}}
foreground-light = #{{base04-hex}}
border = #{{base03-hex}}
highlight = #{{base0E-hex}}
