/**
 * Base16 {{scheme-name}} Theme 
 *
 * Author
 *  Scheme: {{scheme-author}}
 */
* {
    accent: #{{base04-hex}};
    background: #{{base00-hex}};
    foreground: #{{base07-hex}};
    border-color: #{{base02-hex}};


    active-background: @accent;
    active-foreground: @foreground;
    normal-background: @background;
    normal-foreground: @foreground;
    urgent-background: @accent;
    urgent-foreground: @foreground;

    alternate-active-background: @background;
    alternate-active-foreground: @foreground;
    alternate-normal-background: @background;
    alternate-normal-foreground: @foreground;
    alternate-urgent-background: @background;
    alternate-urgent-foreground: @foreground;

    selected-active-background: @accent;
    selected-active-foreground: @background;
    selected-normal-background: @accent;
    selected-normal-foreground: @background;
    selected-urgent-background: @accent;
    selected-urgent-foreground: @background;

    background-color: @background;
    spacing: 2;
}
