colors:
  # Default colors
  primary:
    background: '{{base0}}'
    foreground: '{{base5}}'

  # Colors the cursor will use if `custom_cursor_colors` is true
  cursor:
    text:     '{{base0}}'
    cursor:   '{{base4}}'

  # Normal colors
  normal:
    black:   '{{base0}}'
    red:     '{{base7}}'
    green:   '{{base8}}'
    yellow:  '{{base10}}'
    blue:    '{{base6}}'
    magenta: '{{base11}}'
    cyan:    '{{base12}}'
    white:   '{{base4}}'

  # Bright colors
  bright:
    black:   '{{base1}}'
    red:     '{{base14}}'
    green:   '{{base15}}'
    yellow:  '{{base9}}'
    blue:    '{{base13}}'
    magenta: '{{base2}}'
    cyan:    '{{base3}}'
    white:   '{{base5}}'

draw_bold_text_with_bright_colors: false
