[urgency_low]
    background = "{{base6}}DD"
    foreground = "{{base1}}"
    timeout = 10

[urgency_normal]
    background = "{{base6}}DD"
    foreground = "{{base1}}"
    timeout = 15

[urgency_critical]
    background = "{{base11}}AA"
    foreground = "{{base0}}"
    timeout = 0
