export FZF_DEFAULT_OPTS='
--color fg:{{base5}},bg:{{base00}},hl:{{base11}},fg+:{{base10}},bg+:{{base0}},hl+:{{base11}}
--color pointer:{{base10}},info:{{base4}},spinner:{{base8}},header:{{base4}},prompt:{{base8}},marker:{{base9}}
--color border:{{base6}}
'
