background {{base0}}
foreground {{base5}}

color0  {{base0}}
color1  {{base7}}
color2  {{base8}}
color3  {{base10}}
color4  {{base6}}
color5  {{base11}}
color6  {{base12}}
color7  {{base4}}
color8  {{base1}}
color9  {{base14}}
color10  {{base15}}
color11  {{base9}}
color12  {{base13}}
color13  {{base2}}
color14  {{base3}}
color15  {{base5}}

cursor {{base4}}
cursor_text_color {{base0}}

active_tab_foreground   {{base6}}
active_tab_background   {{base0}}
inactive_tab_foreground {{base2}}
inactive_tab_background {{base0}}
