export FZF_DEFAULT_OPTS='
--color fg:#{{base05-hex}},bg:#{{base00-hex}},hl:#{{base0B-hex}},fg+:#{{base0A-hex}},bg+:#{{base00-hex}},hl+:#{{base0B-hex}}
--color pointer:#{{base0A-hex}},info:#{{base04-hex}},spinner:#{{base08-hex}},header:#{{base04-hex}},prompt:#{{base08-hex}},marker:#{{base09-hex}}
--color border:#{{base06-hex}}
'
