# Base16 {{scheme-name}}
# {{scheme-author}}
colors:
  # Default colors
  primary:
    background: '0x{{base00-hex}}'
    foreground: '0x{{base06-hex}}'

  # Colors the cursor will use if `custom_cursor_colors` is true
  cursor:
    text: '0x{{base00-hex}}'
    cursor: '0x{{base05-hex}}'

  # Normal colors
  normal:
    black:   '0x{{base00-hex}}'
    red:     '0x{{base09-hex}}'
    green:   '0x{{base0A-hex}}'
    yellow:  '0x{{base0B-hex}}'
    blue:    '0x{{base08-hex}}'
    magenta: '0x{{base05-hex}}'
    cyan:    '0x{{base06-hex}}'
    white:   '0x{{base07-hex}}'

  # Bright colors
  bright:
    black:   '0x{{base04-hex}}'
    red:     '0x{{base0D-hex}}'
    green:   '0x{{base0C-hex}}'
    yellow:  '0x{{base0F-hex}}'
    blue:    '0x{{base0E-hex}}'
    magenta: '0x{{base03-hex}}'
    cyan:    '0x{{base02-hex}}'
    white:   '0x{{base01-hex}}'

draw_bold_text_with_bright_colors: false
