! Monitor Fixes
Xft.dpi: 96

! Fonts & Other
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Iosevka:style=regular:pixelsize=14
URxvt.clipboard.autocopy:       true

! %%base16_template: xresources##default %%
! Base16 Dark
! Scheme: Jonty Doyle

#define base00 #2E3647
#define base01 #3A4458
#define base02 #53607A
#define base03 #7887A6
#define base04 #D7E1F5
#define base05 #EBF1FA
#define base06 #9ADBFF
#define base07 #FF6A8E
#define base08 #8FFFBC
#define base09 #E8FFA6
#define base0A #FF92AC
#define base0B #FDAFFF
#define base0C #94F2FF
#define base0D #B7E1FF
#define base0E #9CABDF
#define base0F #9CA6FF

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base09
*color2:       base0A
*color3:       base0B
*color4:       base08
*color5:       base05
*color6:       base06
*color7:       base07

*color8:       base04
*color9:       base0D
*color10:      base0C
*color11:      base0F
*color12:      base0E
*color13:      base02
*color14:      base03
*color15:      base04

! %%base16_template_end%%
