! Monitor Fixes
Xft.dpi: 96

! Fonts & Other
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Iosevka:style=regular:pixelsize=14
URxvt.clipboard.autocopy:       true

! %%base16_template: xresources##default %%
! Base16 Light
! Scheme: Jonty Doyle

#define base00 #F8F6F4
#define base01 #F4F2EF
#define base02 #E8E6E4
#define base03 #CCCAC9
#define base04 #908D8D
#define base05 #5B5B5B
#define base06 #3B3B3B
#define base07 #1F1F1F
#define base08 #4E81A6
#define base09 #DD6783
#define base0A #5EAE9B
#define base0B #A367B3
#define base0C #34806E
#define base0D #CE365B
#define base0E #384C7F
#define base0F #912C93

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base09
*color2:       base0A
*color3:       base0B
*color4:       base08
*color5:       base05
*color6:       base06
*color7:       base07

*color8:       base04
*color9:       base0D
*color10:      base0C
*color11:      base0F
*color12:      base0E
*color13:      base02
*color14:      base03
*color15:      base04

! %%base16_template_end%%
