DEFINE_COLOR "base0" {{base00-rgb-r}} {{base00-rgb-g}} {{base00-rgb-b}}
DEFINE_COLOR "base1" {{base01-rgb-r}} {{base01-rgb-g}} {{base01-rgb-b}}
DEFINE_COLOR "base2" {{base02-rgb-r}} {{base02-rgb-g}} {{base02-rgb-b}}
DEFINE_COLOR "base3" {{base03-rgb-r}} {{base03-rgb-g}} {{base03-rgb-b}}
DEFINE_COLOR "base4" {{base04-rgb-r}} {{base04-rgb-g}} {{base04-rgb-b}}
DEFINE_COLOR "base5" {{base05-rgb-r}} {{base05-rgb-g}} {{base05-rgb-b}}
DEFINE_COLOR "base6" {{base06-rgb-r}} {{base06-rgb-g}} {{base06-rgb-b}}
DEFINE_COLOR "base7" {{base07-rgb-r}} {{base07-rgb-g}} {{base07-rgb-b}}
DEFINE_COLOR "base8" {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
DEFINE_COLOR "base9" {{base09-rgb-r}} {{base09-rgb-g}} {{base09-rgb-b}}
DEFINE_COLOR "base10" {{base0A-rgb-r}} {{base0A-rgb-g}} {{base0A-rgb-b}}
DEFINE_COLOR "base11" {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
DEFINE_COLOR "base12" {{base0C-rgb-r}} {{base0C-rgb-g}} {{base0C-rgb-b}}
DEFINE_COLOR "base13" {{base0D-rgb-r}} {{base0D-rgb-g}} {{base0D-rgb-b}}
DEFINE_COLOR "base14" {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
DEFINE_COLOR "base15" {{base0F-rgb-r}} {{base0F-rgb-g}} {{base0F-rgb-b}}
