[urgency_low]
    background = "#{{base00-hex}}"
    foreground = "#{{base03-hex}}"
    timeout = 10

[urgency_normal]
    background = "#{{base01-hex}}"
    foreground = "#{{base06-hex}}"
    timeout = 15

[urgency_critical]
    background = "#{{base02-hex}}"
    foreground = "#{{base07-hex}}"
    timeout = 0
